body{
    background-color: #EDEFF9;
    overflow-x: hidden;
    padding: 1rem;
}

.nav-wrapper{
    width: 100%;
    margin: 0 auto;
}

div nav .logo{
    width: 50%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    width: 100%;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-weight: bold;
    li{
        font-family: $font-family;
        color: $azul-sitio;

        a{
            text-decoration: none;
        }
    }
}
nav #toggle, nav label{
    display: none;
}



