
.portada section{
        background-image: url(../assets/img/EastNet-Portada.jpg);
        background-size:cover;
        height: 700px;
        width: 100%; 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin-bottom: 50px;
        margin-top: 50px;
        h1 {
            @include fonts-titulo;
        font-size:65px;
        text-align: center;
        padding-left: 50px;
        grid-column: 4/10;
        grid-row: 4/6;
        }
    }

.background-elegirnos section{
    background-image: url(../assets/img/Carrusel-elegirnos.png);
    background-size:cover;
    height: 500px;
    width: 100%;  
}
.elegirnos{
    font-family: $font-family;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    .subtitle-1 {
        grid-column: 4/10;
        grid-row: 1/3;
        height:100%;
        width: 100%;
        h2 {
            font-size: 30px;
            font-family: $font-family;
            color: white;
            text-shadow: 30px;
            padding-top: 50px;
            font-weight: bolder;
        }
    }
}

.lista-1 {
    grid-column: 2/5;
    grid-row: 3/5;
    padding-right: 30px;
    padding-top: 50px;
    line-height: 30px;
    h3 {
        color: white;
        font-family: $font-family;
        font-size: 20px;
        font-weight: bold;
    }
    p{
        color: white;
        font-size: 18px;
    }
   }
.lista-2 {
    grid-column: 5/9;
    grid-row: 3/5;
    padding:50px;
    line-height: 30px;
    h3{
        color: white;
        font-size: 20px;
        font-family: $font-family;
        font-weight: bold;
    }
    p{
        color: white;
        font-size: 18px;
        font-family: $font-family;
    }
}

.background-residenciales section{
    background-image: url(../assets/img/Carrusel-residenciales.jpg); 
    background-size:cover;
    height: 500px;
    width: 100%;  
    margin-top: 50px;
}
.residenciales{
    font-family: $font-family;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    .subtitle-2{
        grid-column: 4/10;
        grid-row: 1/3;
        height:100%;
        width: 100%;
    }
    h2{
        font-size: 30px;
        font-family: $font-family;
        color: white;
        text-shadow: 30px;
        padding-top: 50px;
        font-weight: bolder;
    }
}
.lista-3{
    @extend .lista-1;
    h3{
        color: white;
        font-size: 20px;
        font-family: $font-family;
        font-weight: bold;
    }
    p{
        color: white;
        font-size: 18px;
    }
}
.lista-4{
    @extend .lista-2;
    h3{
        color: white;
        font-size: 20px;
        font-family: $font-family;
        font-weight: bold;
    }
    p{
        color: white;
        font-size: 18px;
    }
    }

    .background-empresariales{
    background-image: url(../assets/img/Carrusel-empresariales.jpg);
    background-size:cover;
    height: 500px;
    width: 100%;  
    margin-top: 50px;
    }
    .empresariales {
    font-family: $font-family;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    .subtitle-3{
        grid-column: 4/10;
        grid-row: 1/3;
        height:100%;
        width: 100%;
    }
    h2{
        color: white;
        font-size: 30px;
        font-family: $font-family;
        font-weight: bolder;
        padding-top: 50px;
    }
}

.lista-5{
    @extend .lista-1;
    h3{
        color: white;
        font-size: 20px;
        font-family: $font-family;
        font-weight: bold;
    }
    p{
        color: white;
        font-size: 18px;
    }
}
.lista-6{
  @extend .lista-2;
    h3{
        color: white;
        font-size: 20px;
        font-family: $font-family;
        font-weight: bold;
    }
    p{
        color: white;
        font-size: 18px;
    }
}










