
.diapositiva-1 {
    h1 {
        font-size:65px;
        font-family:$font-family;
        font-weight: bolder;
        position: absolute;
        left: 200px;
        top: 200px;
        color: #1a1449;;
        
    }
        
    }
       
        

.grid-carrusel-1{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}











