.grid-planes {
    display: grid;
    grid-template-columns:repeat(6, 1fr) ;
    grid-template-rows: repeat(7, 70px);
    gap: 10px;

}
.plan-1 {
    @include fonts-titulo;
    width: 300px;
    height: 500px;
    background: white;
    padding: 1rem;
    margin-left: 50px;
    overflow: hidden;
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/8;
    line-height: 50px;
    width: 300px;
    height: 400px;
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 26px;
    box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.2), inset -8px -8px 16px 0px rgba(157, 177, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    transition: all 0.3s;
    cursor: pointer;
      }
      .plan-1:hover {
        box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
      }
      
      .plan-1:active {
        transform: scale(0.95);
        border: 1px solid $azul-sitio;}



.bold {
    font-weight: bold;
}
.plan-2 {
    @extend .plan-1;
    grid-column: 4/6;
    grid-row: 1/8;
    margin-right: 50px;
    
}
.sub {
    color:#1a1449;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}


.h1-planes {
    color: $verde-agua-sitio;
    font-family: $font-family;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
} 

.medios-sub{
    @include fonts-titulo;
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    
}
.medios-img img{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 26px;
    margin-bottom: 50px;
}

.img-1{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.img-1:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.img-2{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.img-2:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.img-3{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.img-3:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
.img-4{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.img-4:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
